body {
    margin: 0;
    padding: 0;
    
}

.container {
    padding-top: 100px;
    text-align: center; /* Centraliza o conteúdo */
}

/* CSS para o header */
.custom-header {
    width: 100%; /* Ocupa a largura total do container */
    background-color: #ffffff41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: -100px;    
}

.content {
    padding: 20px;
    margin: 240px auto 0; /* Define uma margem superior de 190px, centraliza horizontalmente e remove a margem inferior */
    max-width: 1200px; /* Define a largura máxima do conteúdo */
    margin-top: 30px;
    margin-right: -50px;  
    text-align: left; 
}

.content img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin: 0 auto 20px; /* Adiciona uma margem na parte inferior para separar as colunas */
    margin-left: 60px;
}


.logo {
    display: flex; /* Usa flexbox para alinhar os elementos dentro do logotipo */
    align-items: center; /* Alinha os elementos verticalmente */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.logo img {
    height: 50px;
    width: auto;
    margin-right: 10px; /* Adiciona espaço à direita da imagem */
}

.lab-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(50, 50, 123);
}

nav ul {
    display: flex; /* Usa flexbox para alinhar os itens da lista na horizontal */
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    padding-right: 170px;
    margin: 0 auto; /* Centraliza horizontalmente */
    align-items:center
}

nav ul li {
    margin-right: 20px; /* Adiciona espaço entre os itens da lista */
    margin-left: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove a margem à direita do último item para evitar excesso de espaço */
}

nav ul li a {
    color: #679cd5; 
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s; /* Adiciona uma transição suave para o efeito */
}

nav ul li a:hover {
    color:rgb(50, 50, 123);/* Cor do texto alterada no hover */
}


img.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Estilos padrão para o menu */
.menu-nav {
    display: none; /* Inicia oculto */
}

/* Estilos para o botão de toggle em telas menores */
.toggle-menu-btn {
    display: none; /* Oculta em telas maiores */
}


.menu,
.description {
    background-color: #f9f9f9; /* Adiciona um fundo cinza claro para as colunas */
    padding: 20px;
    color:rgb(50, 50, 123);
    font-size: 18px;
}

.additional-text {
    font-size: 16px;
    color:rgb(50, 50, 123);
}

.image-links {
    padding: 0;
    margin: 0; 
}

.image-links li {
    list-style: none;
    display: inline-block;
    margin-right: 20px; /* Espaçamento entre os itens */
    margin-bottom: 20px;
}

/* Estilos para os links dentro da classe .image-links */
.image-links li a {
    text-decoration: none; /* Remove o sublinhado */
    color: rgb(50, 50, 123);
    font-weight: bold;
    transition: margin-left 0.3s ease; /* Animação do movimento */
    margin-left: 0; /* Posição inicial */
}

/* Efeito de movimento ao passar o mouse sobre os links */
.image-links li a:hover {
    margin-left: 10px; /* Movimento para a direita de 10 pixels */
    color: #679cd5; /* Cor do texto alterada no hover */
}

/* Estilo para links ativos */
.image-links li a.active {
    color: #679cd5;
}

.people-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.person {
    display: flex;
    align-items: flex-start; /* Alinhar os itens no início */
    margin-bottom: 20px;
}

/* Adicione isso ao seu arquivo styles.css */

.person img {
    max-width: 100px; /* ajuste conforme necessário */
    border-radius: 10%; /* para tornar a imagem circular */
    margin-right: 20px; /* ajuste conforme necessário */
}

.person-details {
    flex: 1;
}

.person-name {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(50, 50, 123);
}

.lattes-link {
    color: blue;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.additional-text1,
.additional-text2,
.additional-text3 {
    margin-bottom: 0;
    color:rgb(50, 50, 123);
}

.description-text {
    font-weight: bolder;
}

.title {
    font-weight: bold;
    margin-top: 20px;
}

.additional-text li {
    margin-bottom: 10px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-top: 50px; /* Espaço entre o conteúdo e o footer */
}

.footer-logo {
    width: 100px; /* Tamanho da imagem do logotipo no footer */
    padding-bottom: 20px;
}


/* Estilos para telas menores */
@media (max-width: 767px) {
    .content {
        padding: 10px;
        margin: 190px auto 0;
        max-width: 100%;
        margin-top: 30px;
        margin-right: 0;
        text-align: left;
    }

    .custom-header {
        padding: 10px;
    }
    .logo {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .logo img {
        margin-top: -15px;
    }
    .lab-name {
        font-size: 1rem;
        text-align: left;
    }
    nav ul {
        display: flex;
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center; /* Alinha os itens no centro horizontalmente */
        padding: 0;
        margin: 0 auto;
    }

    nav ul li {
        margin-right: 10px; /* Reduz a margem à direita */
        margin-left: 10px; /* Reduz a margem à esquerda */
    }

    .content img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .person img {
        margin-right: 10px;
    }

    .person-details {
        margin-left: 10px;
    }

    
}


/* Estilos para telas maiores */
@media (min-width: 768px) and (max-width: 1200px) {
    .content {
        padding: 20px;
        margin: 240px auto 0;
        max-width: 1200px;
        margin-top: 30px;
        margin-right: -50px;
        text-align: left;
    }

    .custom-header {
        padding: 20px;
    }
    .logo {
        margin-left: 10px;
        margin-bottom: 20px;
    }
   

    .lab-name {
        font-size: 1.2rem;
        text-align: left;
    }
    nav ul {
        display: flex;
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center; /* Alinha os itens no centro horizontalmente */
        padding: 0;
        margin: 0 auto;
    }

    nav ul li {
        margin-right: 10px; /* Reduz a margem à direita */
        margin-left: 10px; /* Reduz a margem à esquerda */
    }

    .content img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .person img {
        margin-right: 10px;
    }

    .person-details {
        margin-left: 10px;
    }
}

/* Estilos para telas com zoom de até 500% */
@media (max-width: 500%) {
    .content {
        padding: 30px;
        margin: 300px auto 0;
        max-width: 1500px;
        margin-top: 50px;
        margin-right: -100px;
        text-align: left;
    }

    .custom-header {
        padding: 30px;
    }
    .logo {
        margin-left: 100px;
        margin-bottom: 30px;
    }

    

    .lab-name {
        font-size: 1.5rem;
        text-align: left;
    }
    nav ul {
        display: flex;
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center; /* Alinha os itens no centro horizontalmente */
        padding: 0;
        margin: 0 auto;
    }

    nav ul li {
        margin-right: 10px; /* Reduz a margem à direita */
        margin-left: 10px; /* Reduz a margem à esquerda */
        
    }
    .content img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}



